/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/photos/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.page_container__RafHK {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.page_container__RafHK h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.page_container__RafHK p {
  font-size: 1.1rem;
  color: #666;
}

.page_photoGrid__ZwtPv {
  columns: 5;
  column-gap: 7px;
  margin: 0;
  padding: 2px 10vw;
  width: 100%;
  line-height: 0;
}

@media (max-width: 1024px) {
  .page_photoGrid__ZwtPv {
    columns: 4;
    padding: 7px 7px;
  }
}

@media (max-width: 768px) {
  .page_photoGrid__ZwtPv {
    columns: 2;
    padding: 7px 7px;
  }

  .page_container__RafHK {
    padding: 0;
  }
}

.page_photoWrapper__ayFiC {
  position: relative;
  width: 100%;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 7px;
  display: inline-block;
  cursor: pointer;
  line-height: 0;
}

.page_photo__kjcuY {
  width: 100% !important;
  height: auto !important;
  border-radius: 7px;
  display: block;
  line-height: 0;
}

.page_modal__fbmGi {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.page_modalContent__WwBjm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_modalImage__l9kc_ {
  width: auto !important;
  height: auto !important;
  max-width: 70% !important;
  max-height: 80vh !important;
  object-fit: contain;
  display: block;
} 
